In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/train.csv

In [2]:
from sklearn.model_selection import train_test_split
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Cabin', 'Embarked']
X = train_data[features]
y = train_data.Survived
#X = X_new.drop(['Survived'], axis=1)
# Splitting training data into training set and validation set
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [5]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch Cabin Embarked
140       3  female   NaN      0      2   NaN        C
439       2    male  31.0      0      0   NaN        S
817       2    male  31.0      1      1   NaN        C
378       3    male  20.0      0      0   NaN        C
491       3    male  21.0      0      0   NaN        S

In [6]:
X_train.describe()

           Pclass         Age       SibSp       Parch
count  712.000000  571.000000  712.000000  712.000000
mean     2.317416   29.745184    0.529494    0.391854
std      0.833767   14.619046    1.140842    0.821368
min      1.000000    0.670000    0.000000    0.000000
25%      2.000000   20.750000    0.000000    0.000000
50%      3.000000   29.000000    0.000000    0.000000
75%      3.000000   38.000000    1.000000    0.000000
max      3.000000   80.000000    8.000000    6.000000

# ***Data Preprocessing***

Separate numeric columns and categorical columns

In [7]:
numerical_cols = [col for col in X_train.columns if X_train[col].dtype in ['int64', 'float64']]
categorical_cols = [col for col in X_train.columns if X_train[col].nunique()<10 and X_train[col].dtype == 'object']
print('Numerical columns: ', numerical_cols)
print('Categorical columns: ', categorical_cols)

Numerical columns:  ['Pclass', 'Age', 'SibSp', 'Parch']
Categorical columns:  ['Sex', 'Embarked']

In [8]:
cols_with_missing_values = [col for col in X_train.columns if X_train[col].isnull().any()]
cols_with_missing_values

['Age', 'Cabin', 'Embarked']

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

Preprocessing for numerical data

In [10]:
numerical_transformer = SimpleImputer(strategy='mean')

Preprocessing for categorical data

In [11]:
categorical_transformer = Pipeline(steps = [
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

Bundling processing for numerical and categorical data

In [12]:
preprocessor = ColumnTransformer(
                    transformers = [
                        ('num', numerical_transformer, numerical_cols),
                        ('cat', categorical_transformer, categorical_cols)
                    ] 
)

# Modeling and Pipeline

Defining model

In [13]:
from xgboost import XGBRegressor
model = XGBRegressor(n_estimators=1000, learning_rate=0.05, early_stopping_rounds=5, eval_set=[X_valid, y_valid], verbose=False)

Evaluation metrics

In [14]:
from sklearn.metrics import mean_absolute_error as mae

Bundling preprocessing and modeling code in a pipeline

In [15]:
my_pipeline = Pipeline(steps = [
    ('preprocessor', preprocessor),
    ('model', model)
])

In [16]:
my_pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  SimpleImputer(add_indicator=False,
                                                                copy=True,
                                                                fill_value=None,
                                                                missing_values=nan,
                                                                strategy='mean',
                                                                verbose=0),
                                                  ['Pclass', 'Age', 'SibSp',
                                                   'Parch']),
                                                 ('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('imputer',
                                                                   Simple...
                              interaction_constraints=None, learning_rate=0.05,
                              max_delta_step=0, max_depth=6, min_child_weight=1,
                              missing=nan, monotone_constraints=None,
                              n_estimators=1000, n_jobs=0, num_parallel_tree=1,
                              objective='reg:squarederror', random_state=0,
                              reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                              subsample=1, tree_method=None,
                              validate_parameters=False, verbose=False,
                              verbosity=None))],
         verbose=False)

In [17]:
preds = my_pipeline.predict(X_valid)

In [18]:
from sklearn.model_selection import cross_val_score
scores = -1 * cross_val_score(my_pipeline, X, y, cv=5, scoring='neg_mean_absolute_error')
scores.mean()

0.25197209188339664

In [19]:
test_preds = my_pipeline.predict(test_data[features])

In [20]:
test_preds

array([-6.15766048e-02,  4.73776460e-03, -2.23642588e-03,  7.30867505e-01,
        3.67291570e-01,  5.07597148e-01,  7.35512912e-01, -1.00630999e-01,
        5.36870956e-02, -2.81515121e-02,  9.75015163e-02, -7.11792707e-03,
        9.32644784e-01, -1.44295275e-01,  8.21661234e-01,  9.42576885e-01,
       -2.74561644e-02,  7.93380022e-01, -2.08899796e-01,  3.53770345e-01,
        3.82038802e-01,  9.52920318e-01,  9.59196746e-01,  1.29529595e-01,
        7.26814210e-01, -1.90679848e-01,  1.03031075e+00,  2.01347947e-01,
        2.59494543e-01, -1.67577267e-02, -1.81621969e-01, -6.39387965e-02,
        5.37336826e-01,  5.36730289e-02,  1.71718150e-01,  1.22478783e-01,
        1.94009185e-01,  8.44857335e-01,  2.23964959e-01,  9.75015163e-02,
        1.44137830e-01,  9.44772661e-02,  1.88505948e-02,  9.37508166e-01,
        8.99956822e-01,  2.23964959e-01,  3.94805014e-01,  5.81977665e-02,
        9.82964158e-01,  6.57753468e-01,  5.50950468e-02,  5.47980011e-01,
        1.02170932e+00,  3.77177775e-01,  9.29685414e-01, -2.02198029e-02,
       -3.85928154e-03,  2.23964959e-01,  7.15310574e-02,  9.47051167e-01,
        1.55849755e-02,  3.20627153e-01,  1.94613457e-01,  1.00634646e+00,
        1.04932213e+00,  9.70312595e-01,  7.89972782e-01,  3.24013829e-03,
        5.85031211e-02,  9.57336009e-01,  8.20666552e-01,  9.87665057e-02,
        3.76178980e-01,  2.31762230e-02,  1.03821087e+00,  8.43000710e-02,
        9.75015163e-02,  1.02777767e+00,  2.55151391e-02,  8.20666552e-01,
        9.74936128e-01, -1.11081004e-02,  9.31378484e-01,  9.75015163e-02,
        1.15896434e-01, -1.37992620e-01,  1.19940782e+00,  6.66004598e-01,
        8.72737169e-01,  9.91003811e-01,  2.20425189e-01,  9.75015163e-02,
        2.15203702e-01,  9.75015163e-02,  8.43120456e-01,  2.23964959e-01,
        8.92729402e-01,  2.60108292e-01,  9.39308405e-02,  5.50565124e-03,
        7.41152823e-01, -4.08559024e-01,  5.81977665e-02,  1.82287067e-01,
        5.62702477e-01, -1.81514025e-03,  1.49503350e-03,  5.81977665e-02,
        9.75015163e-02,  3.08433682e-01,  3.86837959e-01,  8.72737169e-01,
        9.47051167e-01,  9.85533774e-01,  9.91902351e-01, -1.40764475e-01,
        9.56867337e-02,  9.94930148e-01,  1.19706184e-01,  1.00967503e+00,
        9.53548193e-01, -4.08804417e-03,  9.87077355e-01, -1.81514025e-03,
        5.81977665e-02,  7.20092237e-01,  7.27805495e-03,  1.00870967e+00,
        4.80769902e-01,  1.70851409e-01,  5.55396557e-01,  4.46641058e-01,
       -1.71357393e-02, -1.37992620e-01,  1.20552182e-02,  1.70851409e-01,
        9.11600947e-01, -6.12486601e-02,  4.93246853e-01,  1.31474733e-02,
       -2.15041816e-01,  9.76057887e-01,  2.79960036e-03,  2.15406120e-02,
        9.38968897e-01, -4.06147659e-01,  9.44772661e-02,  7.27805495e-03,
        9.44772661e-02, -1.83941722e-01,  9.08583701e-01,  9.56867337e-02,
       -1.21307373e-03,  6.57753468e-01,  3.25157166e-01,  1.70851409e-01,
        9.94630814e-01,  4.93246853e-01,  9.38968897e-01,  8.88145447e-01,
        8.72737169e-01,  8.92861605e-01,  8.48159432e-01,  9.75015163e-02,
        1.76361740e-01,  2.48769224e-01,  9.63403761e-01, -2.68948674e-02,
        1.01122963e+00,  6.60861731e-01,  9.75015163e-02,  9.11600947e-01,
       -3.03555727e-02,  9.56867337e-02, -1.45638585e-02,  9.62445617e-01,
        4.12902534e-01,  3.83453131e-01,  1.02026665e+00,  8.77467275e-01,
        2.55151391e-02,  8.66242409e-01,  6.05432570e-01,  5.81977665e-02,
        1.00077629e+00,  1.57701105e-01,  1.12896514e+00, -8.61018300e-02,
        6.77794218e-04,  1.57701105e-01,  2.77261138e-02,  9.44772661e-02,
        1.02826548e+00, -1.38694048e-03,  9.58733082e-01,  5.50565124e-03,
        9.88448977e-01,  6.66004598e-01, -1.22634172e-02,  1.94009185e-01,
        8.72737169e-01,  1.04418933e+00,  5.01974523e-02,  9.98054624e-01,
        1.87892020e-02,  3.03050876e-03,  2.44042665e-01, -3.66002321e-02,
        1.04048800e+00,  2.23964959e-01,  5.55396557e-01,  9.75015163e-02,
        6.44979775e-02,  4.23739731e-01,  8.12502503e-01,  9.38968897e-01,
        8.72737169e-01, -6.61445260e-02,  3.87702703e-01,  9.75015163e-02,
        7.65541434e-01,  9.87665057e-02,  9.30611432e-01,  9.87665057e-02,
        1.04189742e+00,  5.05964518e-01,  2.39413083e-02,  8.72737169e-01,
        6.69134855e-02,  3.10785472e-02,  9.12633538e-02,  1.06643748e+00,
       -1.52432323e-02,  5.81977665e-02,  7.79154480e-01, -2.34323740e-03,
        9.66767073e-02,  8.07404518e-03,  6.56395614e-01,  1.00019383e+00,
        1.12785614e+00,  1.08172464e+00,  2.84785986e-01,  9.75015163e-02,
       -6.74986839e-03,  3.75244766e-01,  9.30611432e-01,  6.72007203e-02,
        1.00967503e+00,  3.65244746e-02,  3.27360570e-01, -2.34323740e-03,
        1.11405349e+00,  1.70851409e-01,  1.33782566e-01,  9.75015163e-02,
        5.81977665e-02, -1.81514025e-03,  1.01440406e+00,  9.87665057e-02,
       -2.75915265e-02,  9.87665057e-02,  7.68886983e-01,  9.94930148e-01,
        3.00196111e-01,  9.75015163e-02,  9.44772661e-02,  9.75015163e-02,
        1.94009185e-01,  1.55849755e-02,  1.46263838e-03,  5.81977665e-02,
        1.22318864e+00,  1.02179563e+00,  9.56867337e-02,  1.15086079e+00,
        2.15406120e-02,  2.55661905e-02, -9.23597813e-03, -5.19878268e-02,
        4.93246853e-01,  1.01493812e+00,  8.72737169e-01,  5.90077043e-03,
        4.92984235e-01,  1.59382820e-03,  9.75015163e-02,  5.50950468e-02,
        9.56867337e-02,  9.75015163e-02,  9.44772661e-02,  7.35512912e-01,
        9.56867337e-02,  7.11345971e-02,  1.59382820e-03,  1.82287067e-01,
        1.94773763e-01, -1.67577267e-02, -1.15252733e-02,  2.60108292e-01,
        5.55396557e-01,  9.29685414e-01,  1.19417429e-01,  1.70851409e-01,
        8.72737169e-01,  1.04328048e+00,  3.28242779e-03,  1.00922012e+00,
        2.58059204e-02,  5.36087155e-03,  1.94613457e-01,  9.65783834e-01,
        9.75015163e-02,  1.61140114e-01,  1.12785614e+00,  6.77109420e-01,
        1.41800642e-01,  3.08433682e-01,  7.30867505e-01, -6.89260960e-02,
        1.82287067e-01,  4.45463747e-01, -6.12486601e-02,  1.15625560e-02,
        7.58439660e-01,  2.39413083e-02,  1.00298405e+00,  1.46263838e-03,
       -7.38745928e-03,  2.53202915e-02,  9.95633721e-01,  5.05706847e-01,
        9.56867337e-02,  1.07913709e+00,  7.30867505e-01, -1.15252733e-02,
        3.20627153e-01,  1.14788204e-01,  1.87892020e-02,  9.56867337e-02,
        7.47314095e-03,  5.55396557e-01,  1.25993341e-01,  9.81162429e-01,
        1.60975307e-01,  7.30973721e-01, -6.12486601e-02,  3.81335616e-01,
       -3.66002321e-02,  1.05493510e+00,  8.79524112e-01,  1.87892020e-02,
        7.47314095e-03,  6.34184480e-03,  9.29403722e-01,  3.36245596e-02,
        1.04107547e+00,  9.75015163e-02,  5.81977665e-02,  3.08483660e-01,
       -3.32581341e-01,  1.24880362e+00,  1.05493510e+00,  7.30867505e-01,
        1.00181723e+00,  3.28985214e-01, -1.37992620e-01,  6.60861731e-01,
        8.79524112e-01,  4.51448053e-01,  8.57269764e-03,  9.07985449e-01,
        9.31378484e-01,  3.13267797e-01,  1.00866961e+00,  8.69871795e-01,
        2.16871500e-02,  2.53202915e-02,  1.83930099e-02,  2.60709345e-01,
        5.81977665e-02,  3.46849263e-02,  1.94009185e-01,  9.55290914e-01,
        1.57909632e-01,  1.00263524e+00,  1.70851409e-01, -7.46370554e-02,
        1.49503350e-03, -3.32260728e-02, -3.08945179e-02,  9.68298376e-01,
        1.02472639e+00,  1.06090307e-03,  1.03135198e-01,  6.05432570e-01,
        6.88251853e-03,  8.33211064e-01,  7.27805495e-03,  2.63721645e-02,
        9.90600467e-01,  6.69832826e-02,  1.03031075e+00,  2.54167140e-01,
        3.41964245e-01, -1.73510909e-02, -3.34912539e-02, -4.40450191e-01,
        8.72737169e-01,  6.84853792e-01,  8.72737169e-01,  4.94155586e-01,
        1.70931816e-02,  9.75015163e-02,  1.04580307e+00,  3.17020893e-01,
        9.75015163e-02,  9.86287594e-01], dtype=float32)

In [21]:
output = []
for pred in test_preds:
    if pred < 0.5:
        output.append(0)
    else:
        output.append(1)

In [22]:
submissions = pd.DataFrame({'PassengerId': test_data['PassengerId'],
                          'Survived': output})

In [23]:
submissions

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [24]:
submissions.to_csv('titanic.csv', index=False)